{% extends 'showroom/branch/base.html' %}
{% block title %} Customer List {% endblock %}
{% load staticfiles %}
{% block contain %}

<div class="content-wrapper">
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
                    {% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}
                    <div class="box-body" style="overflow-x:auto;">
			            <form role="form" method="POST"> {% csrf_token %}
                            <table id="example1" class="table table-bordered table-hover">
                                <tr>
                                    <td style="text-align:right;vertical-align:middle;">Search</td>
                                    <td>
                                        <input type="text" id="search" class="form-control" name="customer_search" {% if search_by %} value="{{ search_by }}" {% endif %} placeholder = "Customer Name/Mobile/Email/NID">
                                    </td>
                                    <td style="text-align:right;vertical-align:middle;">Area</td>
                                    <td>
                                        <select class="form-control" name = "area_id">
                                            <option value="0" >Select</option>
                                            {% for data in area_list %}
                                                <option value="{{ data.id }}" {% if area == data.id %} selected {% endif %}>{{ data.area_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" class="btn btn-success" value="Search">
                                    </td>
                                </tr>
                            <table>  
                        </form>
                    </div>
                    <div class="box-body" style="overflow-x:auto;">
                        <table id="example1" class="table table-bordered table-hover">
                            {% if search_customer %}
                                <thead>
                                    <tr style="font-size:13px;">
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Customer Image</th>
                                        <th>Area</th>
                                        <th>Present Address</th>
                                        <th>Ref. Person</th>
                                        <th>Reg. Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in search_customer %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td><a href="/profile/{{ data.id }}" class="small-box-footer" style="padding-left: 0px;" title="{{ data.name }}">{{data.name}}</a></td>
                                            <td>{{data.mobile}}</td>
                                            {% if data.customer_image %}
                                                <td><div class="user_image"><img src="/static/showroom/media/{{ data.customer_image }}" alt="" id="users_image" style="width:110px;height:60px;"></td>
                                            {% else %}
                                            <td>No Image</td>
                                            {% endif %}
                                            <td>{{data.area}}</td>
                                            <td>{{data.present_address}}</td>
                                            <td>{{data.reference_person}}</td>
                                            <td>{{data.reg_date}}</td>
                                            <td>
                                                <a href="/edit-customer/{{ data.id }}/" class="btn btn-info" title="Edit {{data.name}}"><i class="fa fa-edit"></i></a> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% elif not search_customer and request.POST %}
                                <h2 style="color:red;text-align:center;">Not Found </h2>
                            {% else %}
                                <h2 style="color:red;text-align:center;">No Data</h2>
                            {% endif %}
                        </table>
                    </div>
				</div>
			</div>
    	</div>
        <div class="pagination">
            <span class="step-links">
                {% if search_customer.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ search_customer.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ search_customer.number }} of {{ search_customer.paginator.num_pages }}.
                </span>

                {% if search_customer.has_next %}
                    <a href="?page={{ search_customer.next_page_number }}">Next</a>
                    <a href="?page={{ search_customer.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
	</section>
</div>
<script src="{% static 'recycle/admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}