{% extends 'showroom/branch/base.html' %}
{% block title %} Customer Product List {% endblock %}
{% load staticfiles %}
{% block contain %}

<div class="content-wrapper">
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
                    {% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}
					
					<div class="box-body" style="overflow-x:auto;">
                        <form role="form" method="POST"> {% csrf_token %}
                            <table id="example1" class="table table-bordered table-hover">
                                <tr>
                                    <td style="text-align:right;vertical-align:middle;">Search</td>
                                    <td>
                                        <input type="text" id="search" class="form-control" name="search" {% if search %} value="{{ search }}" {% endif %} placeholder = "Customer Name/Invoice/Mobile/Email/NID/Product Name">
                                    </td>
                                    <td style="text-align:right;vertical-align:middle;">Area</td>
                                    <td>
                                        <select class="form-control" name = "area_id">
                                            <option value="0" >Select</option>
                                            {% for data in area_list %}
                                                <option value="{{ data.id }}" {% if area_id == data.id %} selected {% endif %}>{{ data.area_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" class="btn btn-success" value="Search">
                                    </td>
                                </tr>
                            <table>  
                        </form> 
                        <table id="product_tbl" class="table table-bordered table-hover">
                            {% if product_list %}
                                <thead>
                                    <tr style="font-size:13px;">
                                        <th>SL</th>
                                        <th>Product Name</th>
                                        <th>Customer</th>
                                        <th>Bill Type</th>
                                        <th style="text-align:center;">Qty</th>
                                        <th style="text-align:right;">Unit Price</th>
                                        <th style="text-align:right;">Due</th>
                                        <th style="text-align:right;">Paid Amount</th>
                                        <th style="text-align:right;">Total Price</th>
                                        <th style="text-align:center;">Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in product_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.product_name}}</td>
                                            <td>{{data.customer}}</td>
                                            <td>{% if data.payment_type == "1" %} Cash {% else %} {{data.get_payment_type_display}} {% endif %}</td>
                                            <td style="text-align:center;">{{data.sale_quantity}}</td>
                                            <td style="text-align:right;">{{data.sale_unit_price}}</td>
                                            <td style="text-align:right;">{{data.due_amount|floatformat:2}}</td>
                                            <td style="text-align:right;">{{data.paid_amount}}</td>
                                            <td style="text-align:right;">{{data.total_price}}</td>
                                            {% if data.payment_type == "2" %}
                                                <td>
                                                    <a href="/{{ data.id }}/installment-details/" class="btn btn-info" title="Pay"><i class="fa fa-dollar"></i></a>  
                                                </td>
                                            {% else %}
                                                <td style="color:green;font-width:bold;width:8%;text-align:center;" title="Already Paid"><i class="fa fa-check-circle"></i></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% elif not product_list and request.POST %}
                                <h2 style="color:red;text-align:center;">Not Found </h2>
                            {% else %}
                                <h2 style="color:red;text-align:center;">No Data</h2>
                            {% endif %}
                        </table>
					</div>
				</div>
			</div>
    	</div>
	</section>
</div>
{% endblock %}