{% extends 'showroom/branch/base.html' %}
{% block title %}Installment Count {% endblock %}
{% load staticfiles %}
{% block contain %}

<div class="content-wrapper" >
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            {% for data in view_installment|slice:"1" %}
                                <div class="box-header">
                                    <h3 class="box-title">Total Installment : <strong style="color:blue;">{{data.product.total_installment}}</strong></h3>
                                </div>  
                            {% endfor %}
                        </div>
                    </div>
					<div class="box-body" style="overflow-x:auto;"> 
                        {% if view_installment %}
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="font-size:13px;">
                                        <th>SL</th>
                                        <th>Product Name</th>
                                        <th>Invoice</th>
                                        <th>Customer</th>
                                        <th style="text-align:center">Qty</th>
                                        <th style="text-align:right;">Unit Price</th>
                                        <th style="text-align:right;">Paid Amount</th>
                                        <th style="text-align:left;">Payment Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in view_installment %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.product.product_name}}</td>
                                            <td>{{data.product.invoice}}</td>
                                            <td>{{data.customer}}</td>
                                            <td style="text-align:center">{{data.product.sale_quantity}}</td>
                                            <td style="text-align:right;">{{data.product.sale_unit_price}}</td>
                                            <td style="text-align:right;">{{data.paid_amount}}</td>
                                            <td>{{data.payment_date}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif not product_list and request.POST %}
                            <h2 style="color:red;text-align:center;">NO DATA FOUND</h2>
                        {% else %}
                            <h2 style="color:red;text-align:center;">NO DATA</h2>
                        {% endif %}
					</div>
				</div>
			</div>
    	</div>
	</section>
</div>
{% endblock %}