{% extends 'showroom/branch/base.html' %}
{% block title %} Sold Product List {% endblock %}
{% load staticfiles %}
{% block contain %}

<div class="content-wrapper" >
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
                    {% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}
					
					<div class="box-body" style="overflow-x:auto;">
                        <form role="form" method="POST"> {% csrf_token %}
                            <table id="example1" class="table table-bordered table-hover">
                                <tr>
                                    <td>Selling Type</td>
                                    <td>
                                        <select name="payment_type" class="form-control select" id="payment_type" required> 
                                            <option {% if payment_type == "1" %} selected {% endif %} value="1">Full Payment</option>
                                            <option {% if payment_type == "2" %} selected {% endif %} value="2">Installment</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" value="Search" class="btn btn-success">
                                    </td>
                                </tr>
                            </table>   
                        </form> 
                        {% if product_list %}
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="font-size:13px;">
                                        <th>SL</th>
                                        <th>Customer</th>
                                        <th>Product Name</th>
                                        <th>Brand Name</th>
                                        <th style="text-align:center">Qty</th>
                                        <th style="text-align:right;">Unit Price</th>
                                        <th style="text-align:right;">Total</th>
                                        <th style="text-align:center">Status</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in product_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.customer}}</td>
                                            <td>{{data.product_name}}</td>
                                            <td>{{data.brand_name}}</td>
                                            <td style="text-align:center">{{data.sale_quantity}}</td>
                                            <td style="text-align:right;">{{data.sale_unit_price}}</td>
                                            <td style="text-align:right;">{{data.total_price}}</td>
                                            {% if data.payment_type == "2" %}
                                                <td style="width:8%;text-align:center;">
                                                    <a href="/{{ data.id }}/installment-details/" class="btn btn-info" title="Pay"><i class="fa fa-dollar"></i></a>  
                                                </td>
                                            {% else %}
                                                <td style="color:green;font-width:bold;width:8%;text-align:center;" title="Already Paid"><i class="fa fa-check-circle"></i></td>
                                            {% endif %}
                                            <td style="width:10%">
                                                <a href="/edit/{{ data.id }}/" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></a> 
                                                <a href="/delete/{{ data.id }}" class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete this ?');" title="Remove {{data.product_name}}"><i class="fa fa-trash-o"></i></a> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif not product_list and request.POST %}
                            <h2 style="color:red;text-align:center;">Not Found </h2>
                        {% endif %}
					</div>
				</div>
			</div>
    	</div>
        <div class="pagination">
            <span class="step-links">
                {% if product_list.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ product_list.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ product_list.number }} of {{ product_list.paginator.num_pages }}.
                </span>

                {% if product_list.has_next %}
                    <a href="?page={{ product_list.next_page_number }}">Next</a>
                    <a href="?page={{ product_list.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
	</section>
</div>
{% endblock %}